body,
html {
    background-color: #eee;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    font-size: 10px;
    height: 100%;
    overflow-x: hidden;
}

#back,
#result,
#rep_image {
    display: none;
}

section[role="region"] {
    padding-bottom: 1rem;
}

#rep_names {
    padding-top: 1rem;
}

#rep_names,
#mode_selector {
    position: absolute;
    bottom: 3rem;
    width: 100%;
}

section[role="status"] {
    color: #999999 !important;
}

button {
    width: 95% !important;
}

#footer {
    padding: 5px;
    font-size: 1.1rem;
}

#footer a {
    text-decoration: none;
    color: #fff;
}

#rep_image {
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 1px 1px 4px #444;
}

#rep_quiz,
#quiz_result {
    display: none;
}

#quiz_result {
    margin: 20px;
    color: #666;
}

.right {
    color: green;
}

.wrong {
    color: red;
}

#result {
    font-size: 1.5rem;
    height: 3rem;
    line-height: 3rem;
    margin-top: 0.5rem;
    font-weight: bold;
    background: url("../shared/style/status/images/ui/pattern.png") repeat scroll left top #404040;
}
