body {
    background-color: #eee;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 320px;
    margin: 0 auto;
}

#title h1 {
    color: #555;
}

#mode_selector button {
    display: inline-block;
    margin: 20px 40px;
    font-size: 1.3rem;
}

#footer {
    margin-top: 40px;
    padding: 5px;
    color: #999;
    font-size: 0.8rem;
    border-top: solid 1px #ccc;
}

#footer a {
    text-decoration: none;
    color: purple;
}

#rep_image {
    border: none;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    background: url('https://www.libravatar.org/resize/?email_hash=5f4cb4b3af32314213d624496dd2c830&size=200&https=1');
}

#rep_names button{
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}